 html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("banner-3.jpg");
    min-height: 75%;
  }
  
  .menu {
    display: none;
  }
  